{% extends "layouts/layout.html" %}

{% block title %}
    Review {{business}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        <h1>Review {{business}}</h1>
        <form method="POST">

            <div class="form-group">
                <label for="review">Tell us why you had issues with {{business}}</label>
                <textarea name="review"></textarea>
            </div>

            <div class="form-group">
                <label for="contact">Is it okay for {{business}} to contact you about your review?</label>
                
                <div>
                    <label for="yes">Yes</label>
                    <input type="radio" name="contact" value="1" id="yes" checked>

                    <label for="no">No</label>
                    <input type="radio" name="contact" value="0" id="no">
                </div>

                <p>Unless you consent to providing your contact info to {{business}} you will remain anonymous</p>
            </div>

            <button class="button">Submit</button>
        </form>
    </div>
{% endblock %}