<header>
    <div id="header">
        <div id="nav-button">
           <div class="bar bar1"></div>
           <div class="bar bar2"></div>
           <div class="bar bar3"></div>
        </div>
        <div id="title">
            <a href="/">
                <img src="{{ url_for('static', filename='images/buddah.svg') }}">
                <p>RepGuru</p>
            </a>
        </div>
        <div class="nav">
            {% if not session['user'] %}
                <ul>
                    <!--
                        <li>
                            <a href="/features">Features</a>
                        </li>
                    -->
                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="/demo">Demo</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="nav" id="auth">
            <ul>
                {% if session['user'] %}
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                {% else %}
                    <!--
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    -->
                    <li>
                        <a href="/email">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="mobile-nav">
        <ul>
            {% if not session['user'] %}
                <!--
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/email">Sign up</a>
                </li>
                <li>
                    <a href="/features">Features</a>
                </li>
                -->
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
                <li>
                    <a href="/demo">Demo</a>
                </li>
            {% else %}
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>