@import partials/default
@import partials/constants
@import partials/buttons

#container
    margin-top: 50px

.tab
    border: 1px solid $primary-color
    border-bottom: 0
    border-radius: 5px 5px 0 0
    cursor: pointer
    display: inline-block
    padding: 8px

.tab.active
    background-color: $primary-color
    color: $white

.table-container
    border: 1px solid $primary-color
    padding: 10px
    border-radius: 0 5px 5px 5px

form 
    margin-bottom: 15px

    label
        margin-bottom: 10px

    input
        display: block
        margin-bottom: 10px

.customer-table
    a
        margin-left: 8px

    table
        width: 100%

        th, td
            padding: 8px
            text-align: left