@import partials/default

#top
    background: linear-gradient(to right, $light-blue, $primary-color)
    height: calc(100vh - 75px)
    color: $white
    position: relative

    #text-container
        position: relative
        padding-top: 10%
        padding-left: 10%
        width: 45%
        z-index: 2

    div>h1
        margin-top: 0
        font-family: $title-font-family
        font-size: 5em

    div>p
        font-size: 1.2em
        line-height: 2em
    
    img
        position: absolute
        bottom: 0
        right: 5px
        width: 40%
        height: auto

#signup
    background-color: #f2f2f2
    padding: 20px 0
    min-height: 137px

#why
    background-color: #fcfcfc
    position: relative
    padding-top: 100px

.reason
    min-height: 200px
    width: 80%
    margin: 0 auto
    padding-top: 15px
    padding-bottom: 100px
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center

    .title
        font-weight: bold
        font-size: 2em
        font-family: $title-font-family

    .body
        color: #5b5b5b
        font-size: 1.5em
        line-height: 1.5em

    div
        display: inline-block

    .mobile-text
        display: none

    .text
        width: 40%

.left
    margin-right: 10%

p.title
    text-align: center

@media screen and (max-width: 1764px)
    #top
        #text-container
            width: 55%

@media screen and (max-width: 1375px)
    #top
        #text-container
            width: 65%

@media screen and (max-width: 1250px)
    #top
        div>h1
            font-size: 4em

@media screen and (max-width: 990px)
    #top
        div>h1
            font-size: 3em
        img
            width: 60%
    .reason
        .text
            width: 90%

    img
        max-width: 100%
        height: auto

@media screen and (max-width: 789px)
    #top
        #text-container
            width: 80%

        div>h1
            font-size: 3em

        img
            width: 90%
    
    .reason
        display: block

        .desktop-text
            display: none

        .mobile-text
            display: block

        .text
            width: 100%

    .left, .right
        display: block
        text-align: center
        width: 100%
        
    p
        text-align: left

    .left
        margin-right: 0

@media screen and (max-width: 542px)
    #top
        text-align: center

        #text-container
            width: 90%
            padding-left: 5%

        div>h1
            font-size: 2em
        p
            text-align: center
        
        img
            width: 100%
            right: 0

@media screen and (max-width: 320px)
    #top
        min-height: calc(100vh - 75px)
        height: initial

        img
            position: initial