@import partials/default
@import partials/buttons
@import partials/constants

#top
    min-height: 30vh
    padding-top: 5%
    padding-bottom: 25px
    text-align: center
    background-color: $light-blue
    color: $white

    h1
        font-family: $title-font-family
        font-size: 2.5em
    p
        font-size: 1.25em
        line-height: 1.5em

#center
    min-height: 15vh
    padding: 25px 0 25px 0
    background-color: #f2f2f2
    
    p
        font-size: 1.75em
        margin-top: 0

.button
    font-size: 1.5em
    padding: 15px

#body
    padding: 2.5% 0 2.5% 0
    text-align: center

.pricing-block
    margin-bottom: 25px
    font-size: 2em

    .price
        font-size: .75em

.pricing-block:first-child p 
    margin-top: 0


.left, .right
    display: inline-block
    width: 49%
    vertical-align: top

@media screen and (max-width: 700px)
    .left, .right
        display: block
        width: 100%
        vertical-align: initial

        h2
            font-size: 2em 

    .pricing-block
        font-size: 1.5em
