<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Rokkitt" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block prenav %}{% endblock %}

        {% include 'partials/navbar.html' %}
        <div id="main">
            {% block body %}{% endblock %}
        </div>

        {% block scripts %}{% endblock %}
        <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    </body>
</html>