@import '../constants'

#demo
    padding-bottom: 20px

    button
        margin-right: 5px

    .right
        float: right
        width: 45%

        h2
            margin-left: 15px

    .left
        float: left
        width: 50%
        margin-right: 5%

    .clearfix
        clear: both
    .clearfix:after
        content: ""

    i.arrow-down
        display: none
        border: solid black
        border-width: 0 3px 3px 0
        padding: 5px
        margin-bottom: 4px
        transform: rotate(45deg)

@media screen and (max-width: 1199px)
    .right, .left
        float: none !important
        width: 100% !important

    .right
        h2
            margin-left: initial !important
            cursor: pointer

    i.arrow-down
        display: inline-block !important

    .mobile-hidden
        display: none

    #customizer
        background-color: $light-gray
        border: 1px solid $border-gray
        padding: 15px
        border-radius: 5px
        position: absolute
        z-index: 1

@media screen and (max-width: 542px)
    #customizer
        width: 100%
        max-width: calc(100% - 30px)
        left: 0
