#head
    height: 75px
    background-color: #f9f9f9
    padding-top: 10px
    border-bottom: 2px solid #c5cac6
    
    div
        display: inline-block

    #back
        margin-left: 5%
        width: 5%
        
    #img
        width: 30%
        margin-left: 25%
        margin-right: 25%
        text-align: center

        div
            background-color: blue
            border-radius: 50%

            img
                height: 40px
                width: auto
        span
            display: block
            margin-top: 5px

    #info
        width: 5%
        margin-right: 5%