#input
    position: relative
    border-top: 2px solid #c5cac6
    background-color: #f9f9f9
    padding-top: 5px

    textarea
        border-radius: 20px
        border: 1px solid #c5cac6
        padding: 10px
        width: 95%
        font-size: 1.5em
        margin-left: 2px
        resize: none
        height: initial

    textarea:focus
        outline: none

    button
        position: absolute
        background-color: #00ce4b
        color: white
        border-radius: 50%
        right: 6px
        bottom: 10px
        padding: 6px
        border: none

    input:focus, button:focus
        outline: none

@media screen and (max-width: 767px)
    #input
        textarea
            max-width: calc(95% - 8px)

@media screen and (max-width: 320px)
    #input
        textarea
            max-width: calc(94% - 10px) !important