#messages
    height: 500px
    max-height: 80%
    overflow-y: auto

    ul
        list-style-type: none
        padding-left: 10px

        li
            position: relative
            min-height: 50px
            
            div
                display: inline-block
                padding: 10px
                max-width: 80%
                margin: 5px
                border-radius: 10px
                background-color: #e5e5e9
                white-space: pre-line
                text-align: left

        li.sent
            text-align: right
            margin-right: 10px

            div
                color: white
                background-color: #00ce4b
                white-space: initial
