{% extends "layouts/layout.html" %}

{% block title %}
    Not Found | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Whoops, we couldn't find the page you're looking for.</h1>
    <img src="{{url_for('static', filename='images/sad-buddha.gif')}}">
</div>
{% endblock %}