{% extends "layouts/component-layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div id="container"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}