{% extends "layouts/layout.html" %}

{% block title %}
    Demo | RepGuru
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        <div id="container"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/demo.js')}}"></script>
{% endblock %}