{% extends "layouts/layout.html" %}

{% block title %}
    Email Signup | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        {% if not error and message %}
            <h1>{{message}}</h1>
        {% else %}
            {% if error %}
                <h1>{{message}}</h1>
            {% endif %}
            <h1>Get notified when we launch</h1>
            <form method="POST">

                <div class="form-group">
                    <label for="email">Email <address></address></label>
                    <input type="email" name="email">
                </div>

                <button class="button">Submit</button>
            </form>
        {% endif %}
    </div>
{% endblock %}