{% extends "layouts/layout.html" %}

{% block title %}
    RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block prenav %}
{% endblock %}

{% block body %}
    <div id="top">
        <div id="text-container">
            <div id="big-text">
                <h1>RepGuru keeps your reviews positive</h1>
            </div>
            <div id="sub-text">
                <p>Your customers leave reviews across many different apps and services. RepGuru is the easiest way for you to catch negative reviews before they hit the net.</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/repguru.png') }}">
    </div>

    <div id="signup" class="text-center">
        <div id="signup-container"></div>
    </div>

    <div id="why">
        <div class="reason">
            <div class="left">
                <img height="auto" width="445px" src="{{url_for('static', filename='images/links.png')}}">
            </div>
            <div class="right text">
                <p class="title">Divert negative reviews</p>
                <p class="body">No more bad Yelp reviews! If a customer has a positive experience we'll share all of your social media links to encourage a great public review. If a customer has some issues we'll collect additional feedback that gets emailed directly to you.</p>
            </div>
        </div>

        <div class="reason">
            <div class="left text desktop-text">
                <p class="title">Ask what's important to you</p>
                <p class="body">You already know you have great mashed potatoes and friendly service. Find out what customers think of your new decor or if they noticed a new menu item.</p>
            </div>
            <div class="right">
                <img height="auto" width="445px" src="{{url_for('static', filename='images/Restaurant-table-setting.jpg')}}">
            </div>
            <div class="mobile-text">
                <p class="title">Ask what's important to you</p>
                <p class="body">You already know you have great mashed potatoes and friendly service. Find out what customers think of your new decor or if they noticed a new menu item.</p>
            </div>
        </div>

        <div class="reason">
            <div class="left">
                <img height="auto" width="445px" src="{{url_for('static', filename='images/customizer.png')}}">
            </div>
            <div class="right text">
                <p class="title">Update surveys any time, anywhere</p>
                <p class="body">RepGuru's real-time, mobile friendly survey system allows you to tailor your survey to get feedback on changes you've made to your customer experience.</p>
            </div>
        </div>

        <div class="reason">
            <div class="left text desktop-text">
                <p class="title">Easily review feedback</p>
                <p class="body">A simple and intuitive dashboard to review feedback and make changes spend more time on your business, not on the computer.</p>
            </div>
            <div class="right">
                <img height="auto" width="445px" src="{{url_for('static', filename='images/reviews.png')}}">
            </div>
            <div class="mobile-text">
                <p class="title">Easily review feedback</p>
                <p class="body">A simple and intuitive dashboard to review feedback and make changes spend more time on your business, not on the computer.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}