{% extends "layouts/layout.html" %}

{% block title %}
    Login | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        <div class="text-center">
            {{message}}
        </div>
        <div class="div-center">
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="form-group">
                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}