{% extends "layouts/layout.html" %}

{% block title %}
    Pricing | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pricing.css') }}">
{% endblock %}

{% block body %}
    <div>
        <div id="top">
            <h1>RepGuru Pricing</h1>
            <p>Only pay for what you use in 3 simple tiers. No complicated contracts or planning.</p>
        </div>

        <div id="center" class="text-center"></div>

        <div id="body">
            <div>
                <div class="left">
                    <h2>SMS Reviews</h2>
                    <div class="pricing-block">
                        <p>0 - 1,500 Reviews</p>
                        <p class="price">$0.25/review</p>
                    </div>
                    <div class="pricing-block">
                        <p>1,501 - 5,000 Reviews</p>
                        <p class="price">$0.20/review</p>
                    </div>
                    <div class="pricing-block">
                        <p>5,001+ Reviews</p>
                        <p class="price">$0.15/review</p>
                    </div>
                </div>

                <div class="right">
                    <h2>SMS Marketing</h2>
                    <div class="pricing-block">
                        <p>0 - 5,000 Messages</p>
                        <p class="price">$0.03/message</p>
                    </div>

                    <div class="pricing-block">
                        <p>5,001+ Messages</p>
                        <p class="price">$0.02/message</p>
                    </div>
                </div>
            </div>
            <div>
                <p>Minimum Monthly Fee $1</p>
            </div>
            <a class="button" href="/email">Get RepGuru!</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/pricing.js') }}"></script>
{% endblock %}