{% extends "layouts/layout.html" %}

{% block title %}
    Email Verification | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        <h1>Please verify your email address.</h1>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}