{% extends "layouts/layout.html" %}

{% block title %}
    Email Verification | RepGuru
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
    <div class="large-panel">
        {% if error %}
            <h1>{{error}}</h1>
        {% else %}
            <h1>Success! You can start using RepGuru</h1>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}