@import constants

.alert
    border: 1px solid $primary-color
    border-radius: 10px
    padding: 10px

    h3
        text-align: center
        margin-top: 0
    p:last-of-type
        margin-bottom: 0