@import constants

.button
    padding: 7px
    background-color: $primary-color
    border-radius: 5px
    border-width: 1px
    border-style: solid
    border-color: $darker-blue
    font-size: 1.1em
    color: $white


a.button
    text-decoration: none
    display: inline-block


.button.button-red
    background-color: $button-red
    border-color: $button-red-border
    color: $white

.button.button-save
    background-color: $button-green
    border-color: $button-green-border
    color: $white
