textarea
    resize: none
    padding: 5px
    font-size: 1.2em
    height: 150px
    width: 300px
    border-radius: 5px
    display: block

.form-group
    margin-bottom: 20px

input[type="text"], input[type="email"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"], input[type="phone"], select
    padding: 5px
    border-radius: 5px
    border: 1px solid #bcc0c6
    font-size: 1.2em
    display: block

label
    font-size: 1.2em
