@import constants

body
    font-family: $default-font-family
    margin: 0

.large-panel
    width: 80%
    margin: 0 auto
    margin-bottom: 20px

.hidden
    display: none !important

.text-center
    text-align: center

.div-center
    display: table
    margin: 0 auto

.clearfix
    display: block !important

.clearfix::after
    clear: both
    content: ""
    display: table

@media screen and (max-width: 542px)
    .large-panel
        width: 90%