@import constants

#header
    background-color: $primary-color
    height: 75px
    color: $white

    a, a:visited, a:focus, a:hover
        text-decoration: none
        color: $white

    div
        display: inline-block
        padding-top: 15px

    #title
        padding-left: 50px

        img
            height: 50px
        
        p
            display: inline-block
            vertical-align: top
            margin: 0
            margin-top: 5px
            font-size: 2.2em
            font-weight: bolder

    .nav
        position: absolute
        top: 20px
    
    #nav-button
        display: none

        
    #auth
        right: 75px

    ul
        list-style-type: none
        margin: 0
        font-size: 1.2em
        
        li
            display: inline-block
        li:not(:last-child)
            margin-right: 25px
            
#mobile-nav
    position: absolute
    top: 75px
    left: 0
    padding: 20px
    padding-left: 50px
    background-color: $white
    height: calc(100vh - 75px)
    width: 50%
    z-index: 500
    margin-left: -100%
    transition: margin 0.4s

    ul
        list-style-type: none
        padding: 0

        li
            margin-bottom: 15px

    a, a:visited, a:focus, a:hover
        text-decoration: none
        color: black

#mobile-nav.active
    margin-left: 0


@media screen and (max-width: 854px)
    #header
        .nav
            display: none

        #nav-button
            display: inline-block
            cursor: pointer
            padding-left: 25px
            padding-top: 0
            margin-bottom: 5px

            .bar
                width: 35px
                height: 5px
                background-color: $white
                margin: 6px 0
                transition: 0.4s
                display: block
                padding-top: 0

        .change .bar1
            transform: rotate(-45deg) translate(-9px, 6px)

        .change .bar2
            opacity: 0

        .change .bar3 
            transform: rotate(45deg) translate(-8px, -8px)

        #title
            padding-left: 0
            display: inline-block
            margin-left: calc(30% - 60px)